@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.sparkle-in-out-animate {
  animation: sparkle-in-out 2s infinite;
  animation-timing-function: ease;
}

.sparkle-out-in-animate {
  animation: sparkle-out-in 2s infinite;
  animation-timing-function: ease;
}

@keyframes sparkle-in-out {
  0% { opacity: 0;}
  50% { opacity: 100;}
  100% { opacity: 0;}
}

@keyframes sparkle-out-in {
  0% { opacity: 100;}
  50% { opacity: 0;}
  100% { opacity: 100;}
}

.text-pulse-green {
  animation: color-change-green 4s infinite; 
  animation-timing-function: ease;
}

@keyframes color-change-green {
  0% { color: lime };
  50% { color: mediumseagreen };
  100% { color: lime };
  /* 0% { background-color: oklch(0.723 0.219 149.579) };
  50% { background-color: oklch(0.696 0.17 162.48) };
  100% { background-color: oklch(0.723 0.219 149.579) }; */
}

.text-pulse-rose {
  animation: color-change-rose 5s infinite; 
  animation-timing-function: ease;
}

@keyframes color-change-rose {
  0% { color: var(--foreground) };
  50% { color: oklch(0.645 0.246 16.439) };
  100% { color: var(--foreground) };
}

.border-pulse {
  animation: border-color-change 5s infinite; 
  animation-timing-function: ease;
}

@keyframes border-color-change {
  0% { border-color: var(--foreground); }
  50% { border-color: oklch(0.645 0.246 16.439); }
  100% { border-color: var(--foreground); }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
